  <table>
    <thead>
      <tr>
        <th>User Tweets</th>
      </tr>
    </thead>

    <tbody>
      <% @tweetlist.each do |tw| %>
        <tr>
          <td><a href="/usersfollow_list?id=<%= tw.user.id %>"><%= tw.try(:name) %></a></td>
        </tr>
      <% end %>
    </tbody>
  </table>

    <table>
    <thead>
      <tr>
        <th>User Email</th>
      </tr>
    </thead>

    <tbody>
      <% @followings.each do |fw| %>
        <tr>
          <td><%= fw.try(:email) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>